* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('fon.jpeg');
}

header{
    background-color: red;

}

.marvel{
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.hero-cards{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}
.card{
    width: 320px;
}
.hero-name{
    display: block;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    font-family: "Forum";
    color: #47300e;
    font-weight: bold;
    
}
.hero-img{
    display: block;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.info{
    padding-top: 30px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 25px;
}
.filter-films{
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.select-film {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding: 5px;
    border: 4px solid #47300e;
}
